/home/rectambe/.local/share/applications/Persona 4 Golden.desktop
/home/rectambe/.local/share/applications/The Binding of Isaac Rebirth.desktop
/home/rectambe/.local/share/applications/mimeinfo.cache
