[Desktop Entry]
Version=1.1
Type=Application
Name=Love Hues!
Comment=A university-based visual novel packed with both character and world secrets.
Icon=/home/rectambe/.icons/loveHue.png
Exec="/home/rectambe/Games/itch.io/Visual Novels/Love Hues/Love_Hues.sh"
Actions=
Categories=menulibre-visual-novels;
