[Desktop Entry]
Version=1.1
Type=Application
Name=Secret Little Haven
Comment=A game about old computers, community, creativity, fandom, gender, and the internet
Icon=/home/rectambe/.icons/secretLittleHaven.png
Exec="/home/rectambe/Games/itch.io/Visual Novels/Secret Little Haven/Secret Little Haven.x86_64"
Actions=
Categories=Game;
