[Desktop Entry]
Version=1.1
Type=Application
Name=Celeste
Comment=A game about climbing a mountain
Icon=/home/kateulator/Games/itch.io/Celeste/Celeste.png
Exec=mangohud /home/kateulator/Games/itch.io/Celeste/Celeste
Actions=
Categories=Game;
