[Desktop Entry]
Version=1.1
Type=Application
Name=A Short Hike
Comment=A small descriptive blurb about this application.
Icon=/home/rectambe/.icons/shorthikeBirb.png
Actions=
Categories=Game;
