[Desktop Entry]
Version=1.1
Type=Application
Name=Doki Doki Literature Club!
Comment=Will you write the way into her heart?
Icon=/home/rectambe/.icons/ddlc.png
Exec="/home/rectambe/Games/itch.io/Visual Novels/Doki Doki Literature Club/DDLC.sh"
Actions=
Categories=menulibre-visual-novels;
