[Desktop Entry]
Version=1.1
Type=Application
Name=Destiny Fails Us
Comment=Follows the life of Idril Ar'Feinel, a girl who spends most of her time playing video games instead of doing her homework
Icon=/home/rectambe/.icons/destinyFailsUsANewLife.png
Exec="/home/rectambe/Games/itch.io/Visual Novels/Destiny Fails Us - A New Life/Destiny Fails Us.sh"
Actions=
Categories=menulibre-visual-novels;
