[Desktop Entry]
Version=1.1
Type=Application
Name=One Night Stand
Comment=After a night of fun, passion, and one too many drinks, you wake up the next morning to find a complete stranger lying naked beside you in bed. What do you do?
Icon=/home/rectambe/.icons/oneNightStand.png
Exec="/home/rectambe/Games/itch.io/Visual Novels/One Night Stand/One Night Stand.sh"
Actions=
Categories=menulibre-visual-novels;
