[Desktop Entry]
Version=1.1
Type=Application
Name=Celeste
Comment=A game about climbing a mountain
Icon=/home/rectambe/Games/itch.io/Celeste/Celeste.png
Exec=/home/rectambe/Games/itch.io/Celeste/Celeste
Actions=
Categories=Game;
