[Desktop Entry]
Version=1.1
Type=Application
Name=A Normal Lost Phone 
Comment=A game about exploring the intimacy of an unknown person
Icon=/home/rectambe/.icons/aNormalLostPhone.png
Exec="/home/rectambe/Games/itch.io/Visual Novels/A Normal Lost Phone/anlp.x86_64"
Actions=
Categories=menulibre-visual-novels;
