[Desktop Entry]
Version=1.1
Type=Application
Name=Oxenfree
Comment=A supernatural thriller about a group of friends who unwittingly open a ghostly rift
Icon=/home/rectambe/.icons/oxenfree.png
Exec=/home/rectambe/Games/itch.io/Oxenfree/Oxenfree.x86_64
Actions=
Categories=Game;
