[Desktop Entry]
Version=1.1
Type=Application
Name=This World Unknown
Comment=A fantasy-themed otome game
Icon=/home/rectambe/.icons/thisWorldUnknown.jpg
Exec="/home/rectambe/Games/itch.io/Visual Novels/This World Unknown/This World Unknown.sh"
Actions=
Categories=menulibre-visual-novels;
