[Desktop Entry]
Version=1.1
Type=Application
Name=Overland
Comment=Take care of a group of travelers on a post-apocalyptic road-trip across the United States in this turn-based survival game.
Icon=/home/rectambe/.icons/overland.png
Exec=/home/rectambe/Games/itch.io/Overland/Overland.x86_64
Actions=
Categories=Game;
